*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 50px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* reusable-code */
:root{
    --bg-color:#b8a0d6;
    --primary-color:#562892;
    --secondary-color:#b8a0d6;
    --white:whitesmoke;
}
a{
    text-decoration: none;
    color: black;
}
a:visited,a:active,a:hover{
    color: black;
}
li{
    list-style: none;
}
h1{
    font-size: 30px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 18px;
}
img{
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 3px;
}
/* Heading-section */
.app-heading h1{
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 0px;
    margin: 2rem 0px;
    border-bottom: 2px solid var(--primary-color);
}

/* search box section */
.search-section{
    border: 1px solid var(--primary-color);
    padding: 12px;
    width: 340px;
    /* display: none; */
}
.search-box input{
    color: var(--primary-color);
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border: 1.3px solid var(--primary-color);
    border-radius: 6px;
    margin: 8px 0px;
    font-size: 16px;
}
.search-box input::placeholder{
    color: #562892;
}
#submit-btn{
    width: 100%;
    padding: 6px;
    background-color: #562892;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 540;
    letter-spacing: 1.3px;
}
#submit-btn:hover{
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    font-weight: bold;
}

/* profile Section */
.profile{
    border: 2px solid var(--bg-color);
    display:flex;
    justify-content:center;
    flex-direction: column;
    margin: 20px;
    transition: all 0.3s;
    margin-bottom: 50px;

}
.user-details{
    display:flex;
    /* justify-content:center; */
    padding: 10px 18px;

}
.user-info{
    padding: 0px 12px;
    cursor: pointer;
    margin-top: 15px;

}
.usr-name{
    text-transform: uppercase;
    color: #562892;
}
.usr-bio{
    font-size: 14px;
    font-weight: normal;
    color: #2a1e3a;
    text-justify: auto;
    word-wrap: inherit;
}

.follows{
    margin: 12px 0px;
    display:flex;
    justify-content:space-around;
    padding: 10px;
}
.follow-data{
    /* padding: 3px; */
    border-right: 1.5px solid #562892;
    padding: 0px 18px;
    cursor: pointer;
}
.follow-data:last-child{
    border: none;
}
.follow-data:hover{
    background-color: rgb(226, 226, 239);
}
.follow-data h3{
    font-size: 19px;
    color: #562892;
}
.num{
    text-align: center;
    padding-top: 6px;
    font-size: 17px;
    font-weight: 900;
}

/* Repositories */
.repos{
    padding: 12px;
}
.repos-head{
    display:flex;
    justify-content:space-between;
    padding: 12px;
    cursor: pointer;
}
.repos-head h3{
    color: var(--primary-color);
}
.repos-list{
    padding: 0px 12px;
    max-height: 0px;
    max-height: 150px;
    overflow: scroll;
}

.profile-visit{
    padding: 4px 6px 6px;
}
.btn{
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}
.profile-visit-icon{
    margin-left: 8px;
    border: 0.06px solid white;
    padding: 3px 5px;
    border-radius: 5px;
}
/* Individual Repos */
.repos-data{
    border-top: 0.1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 8px;
    width: 100%;
    display: inline-block;
}
.repos-data:hover{
    background-color: rgba(222, 219, 224, 0.533);
}
.repo-stars{
    float: right;
    color: #562892;
}
/* error-box */
.error{
    width: 340px;
    padding: 0px 10px 5px;
    color: red;
    transition: display 0.5s;
    border-bottom-width: 3px;
    margin: 2px;
}
@media (max-width:480px){
    .profile{
        margin-bottom: 50px;
    }
}